.articles-page {
    width: 100%;
    margin-top: 60px;
}
.articles-page__inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}
.articles-page__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 15px;
    border-radius: 5px;
}

.articles-page__hashtag {
    font-size: 24px;
    color: cadetblue;
    margin-bottom: 10px;
}
.articles-page__title {
    font-size: 34px;
}
.articles-page__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #000000d1;
}

.articles-page__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articles-page__left-title {
    margin-left: 5px;
    margin-top: 60px;
}

.articles-page__body-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles-page__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #20202060;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: green;
  margin-left: auto
}
