.header {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo p {
    font-size: 32px;
}


.nav-items {
    width: 100%;
    display: flex;
    gap: 70px;
}

.nav-link {
    font-size: 18px;
    transition: color ease .5s;
}
.nav-link:hover {
    color: cadetblue;
}


