.btn-delete {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #20202060;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: red;
  margin-left: auto;
  transition: all ease 0.5s;
}

.btn-delete:hover {
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
}
